<a href="https://colab.research.google.com/github/TobyChen320/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Toby_Chen_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-13 15:35:25--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.71M   850KB/s    in 26s

2020-03-13 15:35:52 (850 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22763850]

In [0]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
loans_df = pd.read_csv('LoanStats_2018Q4.csv')
loans_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title             emp_length home_ownership annual_inc verification_status issue_d  loan_status        pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       10000     10000       10000            60 months  16.14%  243.93      C     C4        Sale Consultant       2 years    RENT           90000      Not Verified        Dec-2018 Fully Paid         n          NaN NaN  debt_consolidation Debt consolidation      079xx    NJ         8.8   0           Mar-1991         1              NaN                    43                     11       1       10582     58.5%      32        w                   0.00      0.00          10661.0577272374 10661.06        10000.00        661.06        0.0                0.0        0.0                     May-2019     9698.79         NaN          Dec-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            15470       1           1           0           1           18                 4888         65      1           3           2969       60       18100            2      0           2            4                    1719        4906           67.3    0                        0           133                333                  2                     2              1        2                    NaN                      1                     NaN                            0                     4              6               5           15        6         8             23            6                   11       0                0            0                  1                  100            80               1                    0         25600           15470             15000          7500                       NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              6500      6500        6500             36 months  11.80%  215.28      B     B4        Educator              2 years    RENT           46500      Source Verified     Dec-2018 Current            n          NaN NaN  debt_consolidation Debt consolidation      352xx    AL         21.01 0           Aug-2011         1              61                     NaN                    24       0       6741      41.6%      30        w                   4411.89   4411.89       2792.25          2792.25         2088.11         704.14        0.0                0.0        0.0                     Feb-2020     0.0             Mar-2020     Jan-2020           0                          61                          1           Individual       NaN              NaN       NaN                       0              0            40223       4           12          2           2           5                  33482        97      7           12          3662       79       16200            2      0           4            14                   1749        7694           42.2    0                        0           88                 72                   1                     1              0        3                    NaN                      5                     61                             2                     6              10              6           6         14        11            16            10                  24       0                0            0                  9                  93.3           0                0                    0         50845           40223             13300          34645                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              4500      4500        4500             36 months  11.31%  147.99      B     B3        Accounts Examiner III 10+ years  RENT           38500      Not Verified        Dec-2018 Fully Paid         n          NaN NaN  credit_card        Credit card refinancing 786xx    TX         4.64  0           Dec-2003         0              25                     NaN                    12       0       4472      15.3%      25        w                   0.00      0.00          4549.2171485504  4549.22         4500.00         49.22         0.0                0.0        0.0                     Feb-2019     4553.46         NaN          Feb-2020           0                          25                          1           Individual       NaN              NaN       NaN                       0              306          29137       2           1           1           1           3                  24665        100     3           7           3612       54       29200            0      3           3            8                    2428        10735          28.9    0                        0           180                69                   2                     2              0        2                    NaN                      6                     NaN                            1                     3              5               5           6         10        11            15            5                   12       0                0            0                  4                  91.7           0                0                    0         53795           29137             15100          24595                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              25000     25000       25000            60 months  14.47%  587.82      C     C2        teacher               10+ years  OWN            110000     Not Verified        Dec-2018 Late (31-120 days) n          NaN NaN  credit_card        Credit card refinancing 117xx    NY         26.43 1           Jan-1997         0              7                      NaN                    23       0       39053     45.7%      49        w                   21975.89  21975.89      5848.05          5848.05         3024.11         2823.94       0.0                0.0        0.0                     Oct-2019     587.82          Mar-2020     Jan-2020           0                          7                           1           Individual       NaN              NaN       NaN                       0              0            95648       0           3           0           0           35                 54716        23      1           2           8422       39       85500            0      1           0            2                    4159        34837          44.5    0                        0           263                246                  10                    10             0        48                   NaN                      NaN                   NaN                            0                     9              13              10          14        21        19            27            13                  23       0                0            1                  1                  98             10               0                    0         179321          95648             62800          91424                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [0]:
loans_df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
loans_df.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128279 NaN        NaN  ...                    NaN              NaN
128280 NaN        NaN  ...                    NaN              NaN
128281 NaN        NaN  ...                    NaN              NaN
128282 NaN        NaN  ...                    NaN              NaN
128283 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
loans_df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
loans_df.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128279 NaN        NaN  ...                    NaN              NaN
128280 NaN        NaN  ...                    NaN              NaN
128281 NaN        NaN  ...                    NaN              NaN
128282 NaN        NaN  ...                    NaN              NaN
128283 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
pd.set_option('display.max_rows', 100)
loans_df.isnull().sum().sort_values(ascending=False)

id                                            128284
desc                                          128284
member_id                                     128284
url                                           128284
orig_projected_additional_accrued_interest    128025
                                               ...
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
Length: 144, dtype: int64

In [0]:
loans_df['term'].head()

0     60 months
1     36 months
2     36 months
3     60 months
4     60 months
Name: term, dtype: object

In [0]:
loans_df['term'][0]

' 60 months'

In [0]:
term = ' 60 months'
term.strip().strip('months').rstrip()

'60'

In [0]:
int(term.strip().strip('months').rstrip())

60

In [0]:
type(int(term.strip().strip('months').rstrip()))

int

In [0]:
def function(cell_contents):
  return int(cell_contents.strip().strip('months').rstrip())

In [0]:
function(term)

60

In [0]:
type(function(term))

int

In [0]:
new_list = []

In [0]:
for cell in loans_df['term']:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
  new_list.append(function(cell))

In [0]:
new_list[:10]

[60, 36, 36, 60, 60, 36, 60, 36, 36, 36]

In [0]:
loans_df['term_cleaned']=new_list
loans_df[['term', 'term_cleaned']].head()

         term  term_cleaned
0   60 months            60
1   36 months            36
2   36 months            36
3   60 months            60
4   60 months            60

In [0]:
loans_df[['term', 'term_cleaned']].dtypes

term            object
term_cleaned     int64
dtype: object

In [0]:
loans_df['term_cleaned'] = loans_df['term'].apply(function)
loans_df[['term', 'term_cleaned']].head()

         term  term_cleaned
0   60 months            60
1   36 months            36
2   36 months            36
3   60 months            60
4   60 months            60

In [0]:
loans_df['loan_status'].head(10)

0            Fully Paid
1               Current
2            Fully Paid
3    Late (31-120 days)
4               Current
5               Current
6               Current
7               Current
8            Fully Paid
9            Fully Paid
Name: loan_status, dtype: object

In [0]:
loans_df['loan_status']=loans_df['loan_status_is_great']

In [0]:
loans_df[['loan_status', 'loan_status_is_great']].head()

          loan_status loan_status_is_great
0          Fully Paid           Fully Paid
1             Current              Current
2          Fully Paid           Fully Paid
3  Late (31-120 days)   Late (31-120 days)
4             Current              Current

In [0]:
def loan_status_is_great(loan_status):
  if(loan_status =='Current') or (loan_status =='Fully Paid'):
    return '1'  
  else:
      return '0'
print(loan_status_is_great)

<function loan_status_is_great at 0x7f186d69a7b8>

In [0]:
loans_df['loan_status_is_great']=loans_df['loan_status'].apply(loan_status_is_great)

In [0]:
loans_df[['loan_status', 'loan_status_is_great']].head()

          loan_status loan_status_is_great
0          Fully Paid                    1
1             Current                    1
2          Fully Paid                    1
3  Late (31-120 days)                    0
4             Current                    1

In [0]:
loans_df['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [0]:
mylist = []
for col in loans_df.columns:
  if col.endswith('_d'):
    mylist.append(col)
mylist

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
print(loans_df['issue_d'][0])
type(loans_df['issue_d'][0])

Dec-2018

str

In [0]:
loans_df['last_pymnt_d_month']=pd.to_datetime(loans_df['last_pymnt_d'], infer_datetime_format=True)
loans_df[['last_pymnt_d', 'last_pymnt_d_month']].head()

  last_pymnt_d last_pymnt_d_month
0     May-2019         2019-05-01
1     Feb-2020         2020-02-01
2     Feb-2019         2019-02-01
3     Oct-2019         2019-10-01
4     Feb-2020         2020-02-01

In [0]:
loans_df['month'] = loans_df['last_pymnt_d_month'].dt.month
loans_df[['last_pymnt_d', 'last_pymnt_d_month', 'month']].head()

  last_pymnt_d last_pymnt_d_month  month
0     May-2019         2019-05-01    5.0
1     Feb-2020         2020-02-01    2.0
2     Feb-2019         2019-02-01    2.0
3     Oct-2019         2019-10-01   10.0
4     Feb-2020         2020-02-01    2.0

In [0]:
loans_df['last_pymnt_d_year']=pd.to_datetime(loans_df['last_pymnt_d'], infer_datetime_format=True)
loans_df[['last_pymnt_d', 'last_pymnt_d_year']].head()

  last_pymnt_d last_pymnt_d_year
0     May-2019        2019-05-01
1     Feb-2020        2020-02-01
2     Feb-2019        2019-02-01
3     Oct-2019        2019-10-01
4     Feb-2020        2020-02-01

In [0]:
loans_df['year'] = loans_df['last_pymnt_d_year'].dt.year
loans_df[['last_pymnt_d', 'last_pymnt_d_year', 'year']].head()

  last_pymnt_d last_pymnt_d_year    year
0     May-2019        2019-05-01  2019.0
1     Feb-2020        2020-02-01  2020.0
2     Feb-2019        2019-02-01  2019.0
3     Oct-2019        2019-10-01  2019.0
4     Feb-2020        2020-02-01  2020.0

In [0]:
loans_df[['last_pymnt_d', 'month', 'year']].head()

  last_pymnt_d  month    year
0     May-2019    5.0  2019.0
1     Feb-2020    2.0  2020.0
2     Feb-2019    2.0  2019.0
3     Oct-2019   10.0  2019.0
4     Feb-2020    2.0  2020.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
loans_df['int_rate'].head()

0     16.14%
1     11.80%
2     11.31%
3     14.47%
4     27.27%
Name: int_rate, dtype: object

In [0]:
loans_df['int_rate'][0]

' 16.14%'

In [0]:
int_rate = ' 16.14%'
int_rate.strip().strip('%')

'16.14'

In [153]:
float(int_rate.strip().strip('%'))

16.14

In [154]:
type(float(int_rate.strip().strip('%')))

float

In [158]:
loans_df.isnull().sum()

id                                         128284
member_id                                  128284
loan_amnt                                       0
funded_amnt                                     0
funded_amnt_inv                                 0
                                            ...
last_pymnt_d_month                            159
(last_pymnt_d_month, last_pymnt_d_year)       159
last_pymnt_d_year                             159
month                                         159
year                                          159
Length: 152, dtype: int64

In [161]:
loans_df.dropna(inplace=True)
loans_df.isnull().sum()

id                                         0
member_id                                  0
loan_amnt                                  0
funded_amnt                                0
funded_amnt_inv                            0
                                          ..
last_pymnt_d_month                         0
(last_pymnt_d_month, last_pymnt_d_year)    0
last_pymnt_d_year                          0
month                                      0
year                                       0
Length: 152, dtype: int64

In [164]:
def my_function(cell_contents):
  if loans_df['emp_title'] is loans_df['emp_title'].head(20)
  return loans_df['emp_title']
  else:
    return other

SyntaxError: ignored

In [0]:
for cell in lans_df['emp_title']:

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01